@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700");
@import url("./css/weather-icons.min.css");
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}
